<html lang="en-US">
<head>
    <title>Survey Analysis</title>
</head>

<body>
    <h1>Survey analysis</h1>
    <h2>Video game</h2>
    <ul>
    <% for (var i=0; i<results[0].length; i++){ %>
        <li><%= results[0][i].videogame %> :  <%= results[0][i].count %></li>
    <% } %>    
    </ul>
    <h2>Console</h2>
    <ul>
    <% for (var i=0; i<results[1].length; i++){ %>
        <li><%= results[1][i].console %> :  <%= results[1][i].count %></li>
    <% } %>    
    </ul>
    <h2>Genre</h2>
    <ul>
    <% for (var i=0; i<results[2].length; i++){ %>
        <li><%= results[2][i].genre %> :  <%= results[2][i].count %></li>
    <% } %>    
    </ul>
    <h2>Favorite Game</h2>
    <ul>
    <% for (var i=0; i<results[3].length; i++){ %>
        <li><%= results[3][i].favoriteGame %> :  <%= results[3][i].count %></li>
    <% } %>    
    </ul>
    <h2>Hours Played</h2>
    <ul>
    <% for (var i=0; i<results[4].length; i++){ %>
        <li><%= results[4][i].hoursPlayed %> :  <%= results[4][i].count %></li>
    <% } %>    
    </ul>
    <h2>Age range</h2>
    <ul>
    <% for (var i=0; i<results[5].length; i++){ %>
        <li><%= results[5][i].ageRange %> :  <%= results[5][i].count %></li>
    <% } %>    
    </ul>
</body>
</html>